name: cache

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

on:
  push:
    branches:
      - 'main'
  workflow_dispatch: {}

env:
  MISE_VERBOSE: 1

permissions:
  contents: read

jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set Go cache date
        run: echo "GO_CACHE_DATE=$(date +%Y-%m-%d)" >> $GITHUB_ENV

      - name: Set Go cache key
        run: echo "GO_CACHE_KEY=setup-go-${{runner.arch}}-${{ runner.os }}-${{ hashFiles('go.mod') }}-${{ env.GO_CACHE_DATE }}" >> $GITHUB_ENV

      - uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # 5.0.1
        id: restore
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ env.GO_CACHE_KEY }}

      - if: steps.restore.outputs.cache-hit != 'true'
        run: |
          go mod download -x
          make build.operator
          go test -c ./test/integration/ ./test/envtest/
          make test.unit.compile

      - if: steps.restore.outputs.cache-hit != 'true'
        uses: actions/cache/save@9255dc7a253b0ccc959486e2bca901246202afeb # 5.0.1
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ env.GO_CACHE_KEY }}
